.accordion {
    background-color: #eee;
    border-radius: 0px;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    text-align: left;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel_accordion {
    font-size: 10pt;
    line-height: 1;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}